%h1 Listing bins

%table#bin_table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @bins.each do |bin|
      %tr
        %td= link_to bin.value, 'javascript:void(0)', class: 'increment_button', data: { id: bin.id }
        %td= link_to 'Show', bin
        %td= link_to 'Edit', edit_bin_path(bin)
        %td= link_to 'Destroy', bin, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Bin', new_bin_path
#data{ data: { bins_path: bins_path } }
#console
